{% extends "base.html" %}
  {% block title %} Wine Search  {% endblock %}
  {% block content %}
  <div class="main">
    <div class="home">
      <div class="container">
        <div class="row">
          <div class="eight columns offset-by-two">
            <h1 class="headline">
              <img class = 'logo' src="{{url_for('static', filename='images/logo2.png')}}" align="middle" /></h1>
          </div>
        </div>

        <div class="row">
          <div class="eight columns offset-by-two">
<!--            <form name="myForm" action='/search' method="post" class="p-3">
  -->            <div class="form-group">
                <label for="seeAnotherField">Comment souhaitez-vous faire votre recherche ?</label>
                <select class="form-control" id="seeAnotherField">
                      <option value="none">----</option>
                      <option value="label">Label</option>
                      <option value="name">Par son nom, je sais quel vin je cherche</option>
                      <option value="help">Je vais avoir besoin d'aide</option>
                </select>
              </div>
            <form name="myForm" action='/search' method="post" class="p-3">
              <div class="form-group" id="otherFieldDiv">
                <label for="otherField">Ok, envoyez une photo de l'étiquette de votre vin !</label>
                <select class="form-control" id="otherField">
                <br>
                <input id="search_type" name="search_type" type="hidden" value="label_choice">
                <input type="submit" value="Submit">
              </div>
</form>
            <form name="myForm" action='/search' method="post" class="p-3">

              <div class="form-group" id="otherFieldDiv1">
                <label for="otherField1">Bien sûr, quel vin recherchez-vous ?</label>
                  <div class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" name="wine_name" placeholder="Votre vin">
                  </div>
                  <br>
                  <input id="search_type" name="search_type" type="hidden" value="name_choice">
                <input type="submit" value="Submit">
              </div>
</form>
            <form name="myForm" action='/search' method="post" class="p-3">

              <div class="form-group" id="otherFieldDiv2">
                <div>Pas de problèmes, je suis là pour ça</div>
                  <label for="otherField2"></label>
                  <div>une préférence pour la couleur ?</div>
                    <select name="couleur" class="form-control" id="otherField">
                      <option value = "no">Non</option>
                      <option value = "rouge">Rouge</option>
                      <option value = "rosé">Rosé</option>
                      <option value = "blanc">Blanc</option>
                      <option value = "spiritueux">Spiritueux</option>
                    </select>
                 <div>une préférence pour le pays ?</div>
                  <select name="pays" class="form-control" id="otherField">
                    <option value = "no">Non</option>
                    <option value = "liban">Liban</option>
                    <option value = "afrique du sud">Afrique du sud</option>
                    <option value = "etats-unis">Etats-unis</option>
                    <option value = "argentine">Argentine</option>
                    <option value = "japon">Japon</option>
                    <option value = "chili">Chili</option>
                    <option value = "inde">Inde</option>
                    <option value = "nouvelle-zélande">Nouvelle-zélande</option>
                    <option value = "france">France</option>
                    <option value = "hongrie">Hongrie</option>
                    <option value = "australie">Australie</option>
                    <option value = "espagne">Espagne</option>
                    <option value = "italie">Italie</option>
                    <option value = "portugal">Portugal</option>
                  </select>
                  <br>
                  <div>
                    <label for="want">Plus de détails: </label>
                    <input type="text" id="want" name="want"><br>                  </div>
                  <br>
                  <input id="search_type" name="search_type" type="hidden" value="research_choice">
                  <input type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="result"></div>
</body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/complete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/choice.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/spa.js') }}"></script>
</html>
{% endblock %}